<div class="main-container">

  <h2>重新发送激活邮件</h2>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, input_html: { placeholder: "用户名或邮箱" } %>
    </div>

    <div class="form-actions">
      <div class="clearfix">
        <div class="fl">
          <%= f.button :submit, "立即重发", class: "btn btn-large btn-primary" %>
        </div>
        <div class="fl ml20">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</div>