<div class="main-container">
  <h2>成为 Swift Home 的一员</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <%= render "shared/flash" %>
    <div class="clearfix">
      <div class="form-inputs fl">
        <%= f.input :email, required: true, autofocus: true, input_html: { placeholder: "输入邮箱" } %>
        <%= f.input :username, required: true, autofocus: true,input_html: { placeholder: "输入用户名" } %>
        <%= f.input :password, required: true,input_html: { placeholder: "输入密码" } %>
        <%= f.input :password_confirmation, required: true,input_html: { placeholder: "确认密码" } %>
      </div>
      <div class="fl" style="margin-left: 60px; margin-top: 20px;">
        <%= render "shared/welcome" %>
      </div>
    </div>
    <div class="form-actions">
      <div class="clearfix">
        <div class="fl">
          <%= f.button :submit, "立刻加入", class: "btn btn-large btn-primary" %>
        </div>
        <div class="fl ml20">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
