<div class="main-container">
<h2>您的密码忘记了？</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :login, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <div class="clearfix">
      <div class="fl">
        <%= f.button :submit, "立刻重设", class: "btn btn-large btn-primary" %>
      </div>
      <div class="fl ml20">
        <%= render "devise/shared/links" %>
      </div>
  </div>

<% end %>

</div>