<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#" style="margin-left: 20px;">Swift Home</a>
    <ul class="nav">
      <li class="active"><a href="#">首页</a></li>
      <li><a href="#">学习资料</a></li>
      <li><a href="#">Wiki</a></li>
    </ul>
    <form class="navbar-search pull-left" action="/search">
      <input type="text" name="keyword" class="search-query" placeholder="搜索话题" />
    </form>

    <% if user_signed_in? %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= avatar_tag(current_user, :size => 16) %>
            <%= current_user.username -%>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "用户中心","#" -%></li>
            <li><%= link_to "我的收藏","#" -%></li>
            <li><hr /></li>
            <li><%= link_to "退出", destroy_user_session_path, method: :delete -%></li>
          </ul>
        </li>
      </ul>
    <% else -%>
      <ul class="nav pull-right">
        <li><%= link_to "注册", new_user_registration_path -%></li>
        <li><%= link_to "登陆", new_user_session_path -%></li>
      </ul>
    <% end -%>
  </div>
</div>